In [28]:
import pandas as pd
import numpy as np

In [43]:
df = pd.DataFrame({
    "A": [0, -5, 12, -4, 3],
    "B": [12.24, 3.14, 2.71, -3.14, np.nan],
    "C": [0.5, 1.2, 0.3, 1.9, 2.2],
    "D": [2000, np.nan, 1000, 7000, 5000]
})

df.style.format('{:.2f}')

In [44]:
df.style.highlight_max(color="red")

df.style.highlight_max(color="red")

In [46]:

import seaborn as sns
# create the tips dataframe 
data = sns.load_dataset('tips')
data_pivot = pd.pivot_table(data,
 index='smoker',
 columns='day',
 values='total_bill',
 aggfunc='sum').reset_index()
data_pivot

day smoker    Thur     Fri     Sat      Sun
0      Yes  326.24  252.20  893.62   458.28
1       No  770.09   73.68  884.78  1168.88

In [69]:
pivot_header = {
    'selector': 'th.col_heading',
    'props': [('background-color', 'blue'),('color','white')]
}

index_style = {
    'selector': '.index_name',
    'props': [('background-color', 'blue'), ('color', 'blue')]
}

pivot_style = (
    df
    .style
    .set_table_styles([pivot_header,index_style])
    .set_properties(**{'background-color':'#ECE3FF','color':'black'})
)

pivot_style

In [56]:
headers = {
 'selector': 'th.col_heading',
 'props': 'background-color: #5E17EB; color: white;'
}
index_style = {
 'selector': 'th.index_name',
 'props': 'background-color: #5E17EB; color: white;'
}
tmp_pivot_style = (
 df
 .style
 .set_table_styles([headers,index_style])
 .set_properties(**{'background-color': '#ECE3FF','color': 'black'})
)
tmp_pivot_style

In [80]:
colum_header = {
    'selector':'th.col_header',
    'props':[('background-color','red'),('color','white')]
}

style_data_frame = (
 df.style.set_table_styles([colum_header]).set_properties(**{'background-color':'yellow','color':'blue'})
)
style_data_frame

In [81]:
!pip install ipywidgets

Requirement already satisfied: ipywidgets in c:\users\abula\anaconda3\lib\site-packages (8.0.4)
Requirement already satisfied: ipykernel>=4.5.1 in c:\users\abula\anaconda3\lib\site-packages (from ipywidgets) (6.25.0)
Requirement already satisfied: ipython>=6.1.0 in c:\users\abula\anaconda3\lib\site-packages (from ipywidgets) (8.15.0)
Requirement already satisfied: traitlets>=4.3.1 in c:\users\abula\anaconda3\lib\site-packages (from ipywidgets) (5.7.1)
Requirement already satisfied: widgetsnbextension~=4.0 in c:\users\abula\anaconda3\lib\site-packages (from ipywidgets) (4.0.5)
Requirement already satisfied: jupyterlab-widgets~=3.0 in c:\users\abula\anaconda3\lib\site-packages (from ipywidgets) (3.0.5)
Requirement already satisfied: comm>=0.1.1 in c:\users\abula\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets) (0.1.2)
Requirement already satisfied: debugpy>=1.6.5 in c:\users\abula\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets) (1.6.7)
Requirement already satisfied: jupyter-client>=6.1.12 in c:\users\abula\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets) (7.4.9)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in c:\users\abula\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets) (5.3.0)
Requirement already satisfied: matplotlib-inline>=0.1 in c:\users\abula\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets) (0.1.6)
Requirement already satisfied: nest-asyncio in c:\users\abula\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets) (1.5.6)
Requirement already satisfied: packaging in c:\users\abula\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets) (23.1)
Requirement already satisfied: psutil in c:\users\abula\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets) (5.9.0)
Requirement already satisfied: pyzmq>=20 in c:\users\abula\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets) (23.2.0)
Requirement already satisfied: tornado>=6.1 in c:\users\abula\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets) (6.3.2)
Requirement already satisfied: backcall in c:\users\abula\anaconda3\lib\site-packages (from ipython>=6.1.0->ipywidgets) (0.2.0)
Requirement already satisfied: decorator in c:\users\abula\anaconda3\lib\site-packages (from ipython>=6.1.0->ipywidgets) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\abula\anaconda3\lib\site-packages (from ipython>=6.1.0->ipywidgets) (0.18.1)
Requirement already satisfied: pickleshare in c:\users\abula\anaconda3\lib\site-packages (from ipython>=6.1.0->ipywidgets) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\abula\anaconda3\lib\site-packages (from ipython>=6.1.0->ipywidgets) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\users\abula\anaconda3\lib\site-packages (from ipython>=6.1.0->ipywidgets) (2.15.1)
Requirement already satisfied: stack-data in c:\users\abula\anaconda3\lib\site-packages (from ipython>=6.1.0->ipywidgets) (0.2.0)
Requirement already satisfied: colorama in c:\users\abula\anaconda3\lib\site-packages (from ipython>=6.1.0->ipywidgets) (0.4.6)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\abula\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=6.1.0->ipywidgets) (0.8.3)
Requirement already satisfied: entrypoints in c:\users\abula\anaconda3\lib\site-packages (from jupyter-client>=6.1.12->ipykernel>=4.5.1->ipywidgets) (0.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\abula\anaconda3\lib\site-packages (from jupyter-client>=6.1.12->ipykernel>=4.5.1->ipywidgets) (2.8.2)
Requirement already satisfied: platformdirs>=2.5 in c:\users\abula\anaconda3\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel>=4.5.1->ipywidgets) (3.10.0)
Requirement already satisfied: pywin32>=300 in c:\users\abula\anaconda3\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel>=4.5.1->ipywidgets) (305.1)
Requirement already satisfied: wcwidth in c:\users\abula\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->ipython>=6.1.0->ipywidgets) (0.2.5)
Requirement already satisfied: executing in c:\users\abula\anaconda3\lib\site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (0.8.3)
Requirement already satisfied: asttokens in c:\users\abula\anaconda3\lib\site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\abula\anaconda3\lib\site-packages (from stack-data->ipython>=6.1.0->ipywidgets) (0.2.2)
Requirement already satisfied: six>=1.5 in c:\users\abula\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->jupyter-client>=6.1.12->ipykernel>=4.5.1->ipywidgets) (1.16.0)

In [82]:
import pandas as pd
import ipywidgets as widgets
from IPython.display import display

# Sample DataFrame
data = pd.DataFrame({
    'Day': ['Mon', 'Tue', 'Wed', 'Thu', 'Fri'] * 2,
    'Category': ['A', 'B'] * 5,
    'Values': [10, 15, 20, 25, 30, 5, 10, 15, 20, 25]
})

# Create pivot table
pivot_table = pd.pivot_table(data, index='Day', columns='Category', values='Values')

# Create a dropdown
dropdown = widgets.Dropdown(
    options=pivot_table.columns,
    description='Category:',
)

# Function to update pivot table display based on dropdown selection
def update_pivot(category):
    display(pivot_table[[category]])

# Observe changes in the dropdown selection
widgets.interact(update_pivot, category=dropdown)

interactive(children=(Dropdown(description='Category:', options=('A', 'B'), value='A'), Output()), _dom_classeâ€¦